body{


    
    .header{
        min-height: 90px;
    margin-bottom: 20px;
        background-color: gray;
    }
    .main{
        min-height: 30vh;
        margin-bottom: 20px;

    }
}
.content{
    width: 90%;
    margin: 0 auto;
}

.info{
    background-color: rosybrown;
    min-height: 30vh;
    margin-bottom: 50px;
}
.cards{
    min-height: 30vh;
    margin-bottom: 100px;
}

footer{
    background-color: gray;
    min-height: 15vh;
}